<div class="container">
    <div class="row">
        <div class='col-md-8 col-md-offset-2 bodycolor'>
            <h1>Lägg till recept här!</h1>
            <div class='well'>
                <form>
                    <label>Namn: 
                        <input ng-model="recipeName" type='text'/>
                    </label>
                    <br/>
                    <label>Beskrivning:
                        <textarea ng-model="descInput"></textarea>
                    </label>
                    <br/>
                    <label>Tag:
                        <select ng-model="selectedTag">
                            <option ng-repeat='tag in tags' value='{{tag.tagname}}'>{{tag.tagname}}</option>
                        </select>
                    </label>
                    <br/>
                    <input type="button" class='btn btn-default btn-block' ng-click="savePreset()" value='Spara inställningar'/>
                </form>
            </div>
            <div class="well">
                <form>
                    <label>Ingrediense:
                        <select ng-model="ingrediens_id">
                            <option ng-repeat="ingrediense in ingredienses" value="{{ingrediense.id}}">{{ingrediense.ingredienseName}}</option>
                        </select>
                    </label>
                    <label>Mängd:
                        <input type="text" ng-model="amount"/>
                    </label>
                    <input type="button" class='btn btn-default' value='Lägg till ingrediens' ng-click="insertIngr()"/>
                </form>
            </div>
            <div class='well'>
                <h3>Receptets information</h3>
                <p><b>Namn:</b> {{newRecipedata[0].rname}}</p>
                <p><b>Beskrivning:</b> {{newRecipedata[0].description}}</p>
                <p><b>Vald tag:</b> {{newRecipedata[0].tag}}</p>
                <h3>Receptets ingredienser</h3>
                <p class="danger">Funkar inte ännu</p>
                <!--
                <table class='table'>
                    <tr><th class='recipename'>Ingrediens</th><th class="recipename">Mängd</th></tr>
                    <tr ng-repeat="ingrediens in PreviewIngr">
                        <td class='recipename'>{{ingrediens.ingrediens}}</td>
                        <td class="recipedesc">{{ingrediens.amount}}</td>
                    </tr>
                </table>
                -->
                <button class="btn btn-block btn-success" ng-click="postRecipeCtrl()">Lägg till recept</button>
                </div>
        </div>
    </div>
</div>
